  <h1 >
    Költéseim
  </h1>
<!--
  <select [(ngModel)]="translationService.language">
      <option *ngFor="let language of translationService.languages" [ngValue]="language">{{language}}</option>
  </select>
-->
<div>
    <div style="float:left;">
        <table *ngIf="data">
          <tr>
            <th>Dátum</th>
            <th>Megjegyzés</th>
            <th>Költség</th>
            <th>Kategória</th>
            <th></th>
          </tr>
          <tr *ngFor="let data of data">
            <td>{{data.datum}}</td>
            <td>{{data.megj}}</td>
            <td>{{data.koltseg}}</td>
            <td>{{data.kat}}</td>
            <td>
                <button title="Költés törlése" (click)="delData(data.datum, data.megj,data.kotlseg,data.kat)">C</button>
            </td>
          </tr>          
        </table>
      </div>
      
      
      <div style="float:right;">
        <h1>Új költés hozzáadása</h1>
        <input placeholder="Dátum" #d type="date"/>
        <input placeholder="Megjegyzés" #megjegyzes type="text"/>
        <input placeholder="Költség" #koltseg type="number"/>
        <select #kat>
            <option>Étel</option>
            <option>Szórakozás</option>
            <option>Lakhatás</option>
        </select>
        <button class="" (click)="addData(d.value,megjegyzes.value,koltseg.value,kat.value)">Rögzítés</button>
      </div>
</div>


<div style="margin-top:300px;width:50%;" class="row">	
    <div class="col-md-6">
		<div style="display: block;">
			<canvas baseChart 
        id="myLineChart" width="400" height="400" 
        [data]=Prices
        [labels]='lineChartLabels'

        [options]="lineChartOptions" 
        [colors]="lineChartColors"
        [legend]="lineChartLegend" 
        [chartType]="lineChartType">
			</canvas>
    </div>	
  </div>
</div>